<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.happnclone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HappnClone">
        <activity android:name=".MainLayout.AppSettings"></activity>
        <activity android:name=".ChatData.ChatScreen" />
        <activity android:name=".MapView" />
        <activity android:name=".MainLayout.InviteFriend" />
        <activity android:name=".MainLayout.Mypreferences" />
        <activity android:name=".MainLayout.Layout_MainActivity" />
        <activity android:name=".Quiz.VacationAdventure" />
        <activity android:name=".Quiz.Exercise_main" />
        <activity android:name=".Quiz.NightLifeFifth" />
        <activity android:name=".Quiz.CodingQuizSixth" />
        <activity android:name=".Quiz.QuizThreeQuiz" />
        <activity android:name=".Quiz.quizHeightTwo" />
        <activity android:name=".Quiz.quizOneWhyHappn" />
        <activity android:name=".Quiz.QuizIntro" />
        <activity android:name=".Quiz.MaleFemaleCheck" />
        <activity android:name=".FBPrivacyPolicy" />
        <activity android:name=".FBTermsConditions" />
        <activity android:name=".DataPolicy" />
        <activity android:name=".TermsConditions" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_api_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>